/*COLORES */
.colores{
color :#0099FF;/*primary-color*/
color: #0083CC;/* primary-dark-color */
color: #0083CC;/* primary-alt-color */

color: #212529;/* background-dark-color */
color: #211D18;/* background-darker-color */
color: #EDEFF2;/* background-light-color */
color: #FAFAFA;/* background-lighter-color*/

color: #FAFAFA;/* background-trail-color */
color: #fff;/* background-header-color */
color: #EDEFF2;/* background-footer-color */
color: transparent;/* background-btn-color */
color: #0083CC;/* background-btn-inverted-color */

color: #211D18;/* text-color */
color: #888888;/* text-muted-color */
color: #fff;/* text-inverted-color */
color: #211D18;/* text-header-hover-color */
color: #888888;/* text-header-color */

color: #d9d9d9;/* link-inverted-color */

color: #d9d9d9;/* border-color */
color: #d9d9d9;/* border-header-color */
color: #d9d9d9;/*  border-trail-color */
color: #d9d9d9;/*  border-image-color */
color: #211D18;/* border-inverted-color */
color: #fff;/* border-btn-inverted-color */
color: #0083CC;/* order-btn-inverted-h-color */

}
body{
    color: #211D18;
    font-family: "Futura Std", "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
    font-size: 1em;
    line-height: 1.7;
}
body::after{
    opacity: 0;
    visibility: hidden;
}
body .overlay{
    overflow: hidden;
}
p{
    margin-top: o;
}
header{
    letter-spacing: .1px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 1em; 
}
h1 {
    font-size: 2.1875rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

h2 {
    font-size: 1.875rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

h3 {
    font-size: 1.125rem;
    margin-bottom: .875em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1em;
}
img{
    width: auto;
}
img.thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.svg-icon {
    height: 1em;
    fill: currentColor;
    margin-right: .5em;
}
/* ENLACES */
a{
    color: #0099FF;
    cursor: pointer;   
    text-decoration: none;   
}
a:hover,:focus{
    text-decoration: underline;
    color: #0083CC;
}
a.inverted{
    color:#d9d9d9;
}
a.inverted:hover{
    color: #0083CC;
}
a.icon-link{
    display: flex;
    align-items: center;
}